@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #99bc85;
  --primary-color-dark: #f7ffe5;
  --secondary-color: #f7ffe5;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #F7FFE5;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #D4E7C5;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: blueviolet;

}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 150%;
  height: 70%;
  width: 300px;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}
.skills{
  background-color: #F7FFE5;
  height:50%;
  border-radius: 20px;
}
.skills_section{

  width: 100%;

  height: 100vh;

  padding: 0px 13%;

  background-color: rgba(0, 0, 0, 0.082);

  display: flex;

  align-items: center;

  justify-content: center;

  flex-direction: column;

}

.skills_head{

  width: 100%;

  margin-bottom: 100px;

  display: grid;

  place-items: center;

  text-align: center;

}

.skills_head h2{

  font-size: 30px;

  margin-bottom: -5px;

}

.skills_head h2 span{

  color: #99BC85;

}

.skills_main{

  width: 100%;

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  grid-row-gap: 30px;

  grid-column-gap: 50px;

}

.skills_main .skill_bar .info{

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding:  0 10px;

}

.skill_bar .info p:nth-child(2){

  font-weight: 500;

}

.skill_bar .bar{

  width: 100%;

  height: 10px;

  background-color: rgba(0, 0, 0, 0.144);

  border-radius: 25px;

  margin-top: 5px;

  position: relative;

}

.skill_bar .bar span{

  width: 50%;

  height: 100%;

  position: absolute;

  background-color: #99BC85;

  border-radius: 25px;

}

.skill_bar .bar .html{

  width: 90%;

  animation: html 2s;

}

@keyframes html {

  0%{

      width: 0%;

  }100%{

      width: 90%;

  }

}

.skill_bar .bar .Teammanagement{

  width: 85%;

  animation: communication 3s;

}

@keyframes communication {

  0%{

      width: 0%;

  }100%{

      width: 85%;

  }

}

.skill_bar .bar .sass{

  width: 80%;

  animation: sass 2s;

}

@keyframes sass {

  0%{

      width: 0%;

  }100%{

      width: 80%;

  }

}

.skill_bar .bar .js{

  width: 80%;

  animation: css 2s;

}

@keyframes js {

  0%{

      width: 0%;

  }100%{

      width: 80%;

  }

}

.skill_bar .bar .react{

  width: 75%;

  animation: react 2s;

}

@keyframes react {

  0%{

      width: 0%;

  }100%{

      width: 75%;

  }

}

.skill_bar .bar .node{

  width: 70%;

  animation: node 2s;

}

@keyframes node {

  0%{

      width: 0%;

  }100%{

      width: 70%;

  }

}

.skill_bar .bar .express{

  width: 65%;

  animation: express 2s;

}

@keyframes express {

  0%{

      width: 0%;

  }100%{

      width: 65%;

  }

}

.skill_bar .bar .mongo{

  width: 60%;

  animation: mongo 2s;

}

@keyframes mongo {

  0%{

      width: 0%;

  }100%{

      width: 60%;

  }

}

.projects{
  background-color: #F7FFE5;
}

.project-container {
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 30%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.project-content {
  padding: 20px;
}

.project-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.project-description {
  color: #555;
}
  
.main-heading {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 30px;
} 
  
 .footer{
  height:50px;
  background-color: #F7FFE5;
  text-align: center;

 }

 .socials{
  background-color: #F7FFE5;
  text-align: center;
 }